################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/StudentManagementSystem.slnx
/StudentManagementSystem/bin/Debug/net10.0
/StudentManagementSystem/obj/Debug/net10.0
/StudentManagementSystem/obj
